/* Селектор для елементів <span> та <small> */
span, small {
    display: block;            /* Відображення як блок */
    border: 1px solid silver;  /* Суцільна обводка 1 піксель сірим кольором */
    margin: 10px;              /* Зовнішні відступи 10px */
    padding: 15px;             /* Внутрішні відступи 15px */
  }
  